<!DOCTYPE html>
<html>
<head>
  <title>Jqvalentine</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>


  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $('section.second').fadeIn(2000).show;
  $('div.form-group').fadeIn(8000).show;
});
</script>

</head>
<body>

<%= yield %>

</body>
</html>
